body{
    padding: 10px;
    min-width: 500px;
    border: 2px solid gray;
    min-height: 500px;
    border-radius: 8px;
}

#input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 12px;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
}
.link{
    color: rgb(56, 56, 56);
}